<html>
  <head>
    <meta charset="UTF-8">
    <meta content="True" name="HandheldFriend">
    <title>{% block title %}{% end %}{{ escape(handler.settings['title'])}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ static_url('css/style.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ static_url('css/bootstrap.css') }}" />
  </head>
  <body>
      {% block body %}{% end %}
        
      {% block sidebar %} {% end %}
         
      {% block insidebar %}{% end %}
     
      {% block footer %}
      <!--
      <div class="container-narrow footer">
        <hr>
        <p>Copyright © 2013 Ing. </p>
      </div>
      -->
      {% end %}
    
    <script type="text/javascript" src="{{ static_url('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/jquery-1.7.1.min.js') }}"></script>
    {% block script %}{% end %}
  </body>
</html>
